@using ProjectProgress.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div style="width: 25%; margin: auto; margin-top: 5%">

    <h2 class="text-center" style="color: white; font-family: cursive; font-weight: bold">
        Log In To Project Progress
    </h2>
    <p class="text-center"><i class="glyphicon glyphicon-user" style="font-size: 65px; color: white"></i></p>

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h5 style="color: white; margin: auto">Use a local account to log in.</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label", @style = "color: white" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label",  @style = "color: white" })
                <div class="col-md-9">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @style = "color: white" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" value="Log in" class="btn btn-success" />
                        </div>
                    </div>
                    <hr />

                    <p style="color: black">
                        @Html.ActionLink("Register as a new user", "Register", null, new { @style = "color: white" })
                    </p>
            // Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword", null,new{@style = "color: white" })
            </p>
        }
    </section>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var xx = document.querySelector('.body-content');
    xx.classList.remove('body-content');
    var yy = document.querySelector('body');
    yy.style.background = '#242323'; //"#0A92F5";
</script>