@model List<ProjectProgress.Models.CustomModelBoards>
@{
    ViewBag.Title = "GetBoards";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"> </script>
    <link href="~/Content/ProjectProgress.css" rel="stylesheet" />
    
    <style>
        #navbarCollapse ul li {

        }
    </style>
</head>
<body>
    <div id="listBoardDiv">
       
        @if (Model.Count == 0)
        {
            <div class="row">
                <div style="margin-top: 4px" id="BoardDiv">
                    <ul class=" media-list  btn btn-default" onclick="AddNewItem('BoardDiv', '/Board/AddBoard')">
                        <li><i class="glyphicon glyphicon-plus"></i></li>
                        <li>New board</li>
                    </ul>
                </div>
                <div class="text-warning">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    No board found ...
                </div>
            </div>
        }
        else
        {
            <div class=" panel-title">
                <p> List Board </p>
            </div>

            <nav class="navbar navbar-default ">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand">@ViewBag.Project.Name</p>
                </div>
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    @foreach (var item in Model)
                    {
                            <li id="liBoard-@item.Id" class="btn btn-default" style="margin-right: 4px" onclick="DetailBoard(@item.Id)">
                                <a href="#" >
                                    <span style="color: gray" >@item.Name</span>
                                    <span class="badge">@item.Cards.Count()</span>
                                </a>
                            </li>
                    }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="navbar-brand btn btn-default " style="color: gray" onclick="AddNewItem('navbarCollapse', '/Board/AddBoard')">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span>New Board</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        }
    </div>

    <input type="hidden" id="inputIdProject" value=@ViewBag.Project.Id />
    <div id="DetailBoardDiv" class="row" />

</body>

<script>
        @*var AddNewBoard = function ()
        {
            $("#BoardDiv").load('@Url.Action("AddBoard", "Board", new { idProject = ViewBag.Project.Id })');
        }*@

        var DetailBoard = function (idBoard)
        {
           $("#navbarCollapse ul").find(".active").removeClass("active");
           $("#liBoard-"+idBoard+ " a").parent().addClass("active");

            var link = '@Url.Action("GetCards", "Cards", new { boardId = -1})';
            link = link.replace("-1", idBoard);

            $("#DetailBoardDiv").load(link);


        }
    </script>
<script src="~/Scripts/ProjectProgress.js"></script>
