@model IEnumerable<ProjectProgress.Models.ProjectDetails>

@{
    ViewBag.Title = "AllProject";
}
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"> </script>

    <style>
        #sortable {
            margin: 0 0 0 0;
            padding: 0;
            width: 100%;
        }

            #sortable li {
                background-color: white;
                margin: 3px 0;
                height: 45px;
            }

                #sortable li span {
                    height: 42px;
                    display: inline-flex;
                    align-items: center;
                    border-right-style: double;
                    border-color: white;
                }

        .btn {
            padding: 5px;
            margin-right: 3px;
        }

        #filterTable {
            padding-top: 5px;
            background-color: white;
            z-index: 3;
        }

        .table {
            margin-bottom: 2px;
        }

        .fixed {
            position: fixed;
            top: 0;
        }
    </style>

</head>

<body>


<div id="filterTable">
    <form  method="get">
        <div >
            <p>
                <input type="text" name="SearchString" placeholder="Search by project name" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-info" style=" padding-top: 3px; padding-bottom: 3px;" /> 
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>
                <a>@Html.DisplayNameFor(model => model.ProjectName)</a>
            </th>
            <th>
                <a>@Html.DisplayNameFor(model => model.BoardName)</a>
            </th>
            <th>
                <a>@Html.DisplayNameFor(model => model.CardName)</a>
            </th>
            <th>
                <a>@Html.DisplayNameFor(model => model.TaskName)</a>
            </th>
            <th>
                <a>@Html.DisplayNameFor(model => model.TaskDescription)</a>
            </th>
        </tr>
        </thead>
    </table>
</div>

    @if (Model != null)
    {
        <div>
            <ul id="sortable" class="media-list">
                @foreach (var item in Model)
                {
                    <li class="ui-state-default" style="background-color: @item.ProjectColor">
                        <span class="col-md-2">
                            <i class="glyphicon glyphicon-resize-vertical"></i>
                            <i class="btn btn-default glyphicon glyphicon-search "></i>
                            @item.ProjectName
                        </span>
                        <span class="col-md-2"> @item.BoardName</span>
                        <span class="col-md-2"> @item.CardName</span>
                        <span class="col-md-2"> @item.TaskName</span>
                        <span class="col-md-4"> @item.TaskDescription</span>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <p>No project Found... </p>
    }

</body>

<script src="~/Scripts/allProjectDetailScript.js"></script>